body{
    --text-color: #ffffff;
    --bkg-color: #24252E;
}

body {
    background: var(--bkg-color);
}
@font-face {
    font-family: 'WorkSans';
    src: url(assets/WorkSans-Regular.ttf);

}

@font-face {
    font-family: 'WorkSansLight';
    src: url(assets/WorkSans-Thin.ttf);
}

/*body.dark-theme{
    --text-color: #ffffff;
    --bkg-color: #24252E;
    }
*/

nav{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-top: 45px;
    padding-left: 8%;
    padding-right: 8%;
}


nav ul li{
    list-style-type: none;
    display:inline-block;
    padding: 10px  10px;
}

nav ul li a{
    color: #ffffff;
    text-decoration: none;
    font-family: 'WorkSansLight';
    font-size: 30px;
}

#linkedin{
    text-decoration: none !important;
   border:0px !important;
   outline:none;
   border-width: 0px;
   outline-width:0px;
   border-bottom: none;
} 

h1 {
    text-align: center;
    display:inline;
    text-decoration: none;
    font-family: 'WorkSans';
    color: white;
    font-size: 45px;
    cursor:pointer;
}


h1:hover{
    color: rgb(255, 255, 255);
}

h1::before{
    content: attr(data-tooltip);
    position: absolute;
    font-size: 22px;
    background: var(--bkg-color);
    padding:.5rem;
    border-radius: 1px;
    box-shadow: 0px 0px 10px(var(--bkg-color));
    left:25%;
    top:8%;
    clip-path:circle(0rem at center);
    overflow:hidden;
    transition:800ms all ease-in;
}

h1:hover::before{
    clip-path:circle(20rem at center);

}

h2 {
    text-align: left;
    font-family: 'WorkSans';
    font-size: 45px;
    cursor:pointer;
    text-decoration: none;
    color:#ffffff;
}


p1 {
    font-family: 'WorkSansLight';
    color:#ffffff;
    font-size: 45px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-top: 45px;
    padding-left: 8%;
    padding-right: 8%;
}
#icon{
    width: 35px;
    display: inline;
    float:right;
    cursor:pointer;
    color: var(--black);
}

nav ul{
    flex: 1;
    text-align: right;
}

.container {
    max-width: 768px;
    margin-left: var(--mb-1-5);
    margin-right: var(--mb-1-5);
  }
  
  .grid {
    display: grid;
    gap: 1.5rem;
  }
  
  .header {
    width: 75%;
    margin-top: 75px;
    margin-left: auto;
    margin-right: auto;
    bottom: 0;
    left: 0;
  }