@font-face {
    font-family: 'WorkSans';
    src: url(assets/WorkSans-Regular.ttf);

}

@font-face {
    font-family: 'WorkSansLight';
    src: url(assets/WorkSans-Thin.ttf);
}

h1{
    font-family: 'WorkSans';
    font-size: 45px;
    color:white;
    position: sticky;
    border-radius: 10px;
}

h1:hover{
    color: rgb(255, 255, 255);
}

h1::before{
    content: attr(data-tooltip);
    align-items: 20;
    position: absolute;
    display: flex;
    flex-direction: top;
    font-size: 20px;
    padding:.5rem;
    border-radius: 1px;
    left: 100%;
    width:100%;
    bottom:85%;
    clip-path:circle(0rem at left);
    overflow:hidden;
    transition:800ms all ease-in;
}

h1:hover::before{
    clip-path:circle(20rem at right);

}


.dropMenu{
    box-sizing: border-box;
    font-family: 'WorkSans';
    font-size: 45px;
    color:white;
}

.dropMenu input{

    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    cursor: pointer;
    padding: 20px 20px;
    font-family: 'WorkSans';
    border-radius: 10px;
    background: #8d7c86;
    box-shadow:  30px 30px 60px #7b6c75,
                 -30px -30px 60px #9f8c97;
    outline: none;
    border: none;
}

.dropMenu .contents
{
    position: relative;
    font-family: 'WorkSansLight';
    top: 200px;
    font-size: 25px;
    color:white;
    top: 25px;
    width:100%;
    left: 0;
    text-align: center;
    border-radius: 10px;
    background: linear-gradient(145deg, #97858f, #7f7079);
    box-shadow:  30px 30px 60px #7b6c75,
                 -30px -5px 60px #9f8c97;
    outline: none;
    border: none;
    visibility: hidden;
    opacity: 0;
    transition: 0.25s;
    padding: 20px 20px;
}

.dropMenu.active .contents{
    visibility: visible;
    opacity: 1;
}
.dropMenu .contents div{
    padding: 20px 20px;
    cursor: pointer;
}

/*.dropMenu::before{
    content: '';
    position: absolute;
    display: flex;
    right: 95px;
    top: 115px;
    width: 12px;
    height: 2px;
    z-index: 1;
    background-color: white;

}
*/


@media screen and (max-width: 600px)
{
    .dropMenu, .contents{
        display: none;
    }
    h1{
        text-align: center;
    }
    nav ul li{
        display: inline-block;
        list-style: none;
        margin: 10px 10px;
        text-align: left;
    }

}
.placeholder
{   
    font-family: 'WorkSans';

    color:white;
}

.head-text
{
    margin-top: 20%;
    font-family: 'WorkSansLight';
    font-size: 30px;
    color:white;
}


/*.hero{
    background-color: black;
    aspect-ratio: 3/2;
    background-image: url('assets/bg.svg');
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}
*/

body, html{
    background-color: #8d7c86;
    scroll-behavior: smooth;
    margin: 0;
    padding: 0;
}

nav{
    display: flex;
    align-items: start;
    justify-content: space-between;
    flex-wrap: wrap;
    text-align: right;
}

nav2 ul li{
    display: inline-block;
    list-style: none;
    margin: 10px 10px;
    text-align: right;

}

nav ul li{
    display: inline-block;
    list-style: none;
    margin: 10px 10px;
    text-align: right;
}

nav ul li a{
    font-family: 'WorkSansLight';
    font-size: 25px;
    color:black;
    text-decoration: none;
    text-align: right;
}

.container{
    padding-top: 45px;
    padding-left: 8%;
    padding-right: 8%;
}


section {
    position: relative;
    display:flex;
    flex-direction: column;
    align-items: center;
    min-height: 500px;
}

.spacer{
    aspect-ratio: 960/300;
    height: 100;
    width: 100%;
    background-repeat: no-repeat;
    background-position: center;
    background-size: 100%;
}
.layer1
{
    background-image: url(assets/layered-waves-haikei.svg);
}

.layer2
{
    background-image: url(assets/project\ waves.svg);
}

.layer3
{
    background-image: url(assets/about\ waves.svg);
}

.aboutText
{
    font-family: 'WorkSansLight';
    font-size: 50px;
    color:white;
    text-align: center;
    padding:10%;
    background-color: #db9a9a;
}


.main
{
    padding: 200px 20vw;
    align-items: center;
}

.projects
{
    background-color: #b07b7b;
    width: 100%;
    height: 100%;
}

.contact
{
    background-color: #3e3339;
    width: 100%;
    list-style-type: none;
    
}

#linkedin{
    text-decoration: none !important;
   border:0px !important;
   outline:none;
   border-width: 0px;
   outline-width:0px;
   border-bottom: none;
} 

#github{
    text-decoration: none !important;
   border:0px !important;
   outline:none;
   border-width: 0px;
   outline-width:0px;
   border-bottom: none;
} 

.flip
{
    transform: rotate(180deg);
}

@keyframes showTopText {
    0% { transform: translate3d(0, 100%, 0); }
    40%, 60% { transform: translate3d(0, 50%, 0); }
    100% { transform: translate3d(0, 0, 0); }
  }
  @keyframes showBottomText {
    0% { transform: translate3d(0, -100%, 0); }
    100% { transform: translate3d(0, 0, 0); }
  }


  
  .animated-title {
    color: white;
    font-family: 'WorkSansLight';
    height: 90vmin;
    left: 50%;
    position: absolute;
    top: 50%;
    transform: translate(-50%, -50%);
    width: 90vmin;
  }

  
  .animated-title > div {
    height: 50%;
    overflow: hidden;
    position: absolute;
    width: 100%;
  }
  .animated-title > div div {
    font-size: 12vmin;
    padding: 2vmin 0;
    position: absolute;
  }
  .animated-title > div div span {
    display: block;
  }
  .animated-title > div.text-top {
    /*border-bottom: .25vmin solid white;
    top: 0;
    */
  }
  
  .animated-title > div.text-top div {
    animation: showTopText 1s;
    animation-delay: 0.5s;
    animation-fill-mode: forwards;
    bottom: 0;
    transform: translate(0, 100%);
  }


  .animated-title > div.text-top div span:first-child {
    color: white;
  }
  .animated-title > div.text-bottom {
    bottom: 0;
    left: 75%;
  }
  .animated-title > div.text-bottom div {
    animation: showBottomText 0.5s;
    animation-delay: 1.75s;
    animation-fill-mode: forwards;
    top: 0;
    transform: translate(0, -100%);

  }
