@font-face {
    font-family: 'WorkSans';
    src: url(assets/WorkSans-Regular.ttf);

}

@font-face {
    font-family: 'WorkSansLight';
    src: url(assets/WorkSans-Thin.ttf);
}

@font-face{
    font-family: 'he';
    src: url(assets/HelveticaLt.ttf)
}

img, h1, h2, h3, p, li, ul {
    margin: 2vw;
    padding : 0;
  }

  #returnHome {
    display: none;
    position: fixed; 
    bottom: 2rem; 
    right: 2rem; 
    z-index: 99; 
    outline: none; 
    color: rgb(73, 72, 100); 
    cursor: pointer; 
    backdrop-filter: blur(8px) saturate(175%);
    -webkit-backdrop-filter: blur(8px) saturate(175%);
    background-color: rgba(0, 0, 0, 0.6);
    border-radius: 12px;
    border: 1px solid rgba(255, 255, 255, 0.125);
    font-size: 18px; 
  }


h1{
    font-family: 'Inter';
    font-size: 45px;
    font-weight:800;
    color:#1a1a1a;
    position: sticky;
    border-radius: 10px;
}

h2{
    font-family: 'Inter';
    font-size: 45px;
    color:white;
    position: sticky;
    border-radius: 10px;
}

canvas{
    position: absolute;
    top: 0;
    left: 0;
}

h1:hover{
    color: #1a1a1a;
}

h1::before{
    content: attr(data-tooltip);
    align-items: 20;
    position: absolute;
    display: flex;
    flex-direction: top;
    font-size: 20px;
    padding:.5rem;
    border-radius: 1px;
    left: 100%;
    width:100%;
    bottom:85%;
    clip-path:circle(0rem at left);
    overflow:hidden;
    transition:800ms all ease-in;
}

h1:hover::before{
    clip-path:circle(20rem at right);

}


.dropMenu{
    box-sizing: border-box;
    font-family: 'WorkSans';
    font-size: 45px;
    color:#1a1a1a;
}

.dropMenu input{

    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    cursor: pointer;
    padding: 20px 20px;
    font-family: 'WorkSans';
    color: #1a1a1a;
    background: #ffffff;
    border-radius: 10px;
    background: #ffffff;
    box-shadow:  20px 20px 60px #d9d9d9,
                 -20px -20px 60px #ffffff;
    outline: none;
    border: none;
}

.dropMenu .contents
{
    position: relative;
    font-family: 'WorkSansLight';
    top: 200px;
    font-size: 25px;
    color:#1a1a1a;
    top: 25px;
    width:100%;
    left: 0;
    text-align: center;
    border-radius: 10px;
    background: #ffffff;
    box-shadow:  -20px -20px 60px #d9d9d9,
                 20px 20px 60px #ffffff;
    border: none;
    visibility: hidden;
    opacity: 0;
    transition: 0.25s;
    padding: 20px 20px;
}

.dropMenu.active .contents{
    visibility: visible;
    opacity: 1;
}
.dropMenu .contents div{
    padding: 20px 20px;
    cursor: pointer;
}

/*.dropMenu::before{
    content: '';
    position: absolute;
    display: flex;
    right: 95px;
    top: 115px;
    width: 12px;
    height: 2px;
    z-index: 1;
    background-color: white;

}
*/


@media screen and (max-width: 600px)
{
    .dropMenu, .contents{
        display: none;
    }
    h1{
        text-align: center;
    }
    nav ul li{
        display: inline-block;
        list-style: none;
        margin: 10px 10px;
        text-align: left;
    }

}
.placeholder
{   
    font-family: 'WorkSans';

    color:#1a1a1a;
}

.head-text
{
    margin-top: 20%;
    font-family: 'WorkSansLight';
    font-size: 30px;
    color:#1a1a1a;
}


/*.hero{
    background-color: black;
    aspect-ratio: 3/2;
    background-image: url('assets/bg.svg');
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}
*/

body, html{
    background-color: #e9e9e9;
    scroll-behavior: smooth;
    margin: 0;
    padding: 0;
    overflow-x: hidden; 
    overflow: overlay;

}

nav{
    display: flex;
    align-items: start;
    justify-content: space-between;
    text-align: right;
}

nav2 ul li{
    display: inline-block;
    list-style: none;
    margin: 10px 10px;
    text-align: right;
    padding: 0;
}

nav ul li{
    display: inline-block;
    list-style: none;
    margin: 10px 10px;
    text-align: right;
}

nav ul li a{
    font-family: 'WorkSansLight';
    font-size: 25px;
    color:#1a1a1a;
    text-decoration: none;
    text-align: right;
}

.container{
    padding-top: 45px;
    padding-left: 8%;
    padding-right: 8%;
}


section {
    position: relative;
    display:flex;
    flex-direction: column;
    align-items: center;
    min-height: 250px;
}

.spacer{
    aspect-ratio: 960/300;
    height: 100%;
    width: 100%;
    background-repeat: no-repeat;
    background-position: center;
    background-size: 100%;
}
.layer1
{
    background-image: url(assets/middle2.svg);
}

.layer2
{
    background-image: url(assets/bottom2.svg);
}

.layer3
{
    background-image: url(assets/top2.svg);
}

.aboutText
{
    font-family: 'WorkSansLight';
    font-size: 3vw;
    color:#1a1a1a;
    text-align: center;
    padding:10%;
    background-color: #e9e9e9;
}


.main
{
    padding: 2vw;
    align-items: center;
}

.projects
{
   /* background-color: white;
    background-image: url(assets/art.png);
    width: 100%;
    height: 100%;
    */
    background-repeat: no-repeat;
    background-position: center;
    background-size: 100%;
}



nav3 ul li{
    display: inline-block;
    list-style: none;
    margin: 10px 10px;
    text-align: center;
    padding: 0;
    font-family: 'WorkSansLight';
    font-size: 2vw;
    color:#1a1a1a;

}

.project-link{
    text-decoration: underline;
    text-decoration-color: #adadad;
}

.project-link img {
    transition: transform 0.2s ease-in-out;
  }
  
  .project-link h3 {
    transition: color 0.2s ease-in-out;
  }
  
  .project-link:hover h3 {
    color: #1a1a1a
  }

.contact
{
    background-color: #1a1a1a;
    width: 100%;
    list-style-type: none;
    
}

#linkedin{
    text-decoration: none !important;
   border:0px !important;
   outline:none;

   border-bottom: none;
} 

#github{
    text-decoration: none !important;
   border:0px !important;
   outline:none;
border-bottom: none;
} 

.flip
{
    transform: rotate(180deg);
}

@keyframes showTopText {
    0% { transform: translate3d(0, 100%, 0); }
    40%, 60% { transform: translate3d(0, 50%, 0); }
    100% { transform: translate3d(0, 0, 0); }
  }
  @keyframes showBottomText {
    0% { transform: translate3d(0, -100%, 0); }
    100% { transform: translate3d(0, 0, 0); }
  }


  
  .animated-title {
    color: #1a1a1a;
    font-family: 'WorkSansLight';
    height: 50vmin;
    left: 50%;
    position: absolute;
    top: 50%;
    transform: translate(-50%, -50%);
    width: 90vmin;
  }

  
  .animated-title > div {
    height: 50%;
    overflow: hidden;
    position: absolute;
    width: 100%;
  }
  .animated-title > div div {
    font-size: 5vmin;
    padding: 2vmin 0;
    position: absolute;
  }
  .animated-title > div div span {
    display: block;
  }
  .animated-title > div.text-top {
    border-bottom: .25vmin solid #1a1a1a;
    top: 0;
    
  }
  
  .animated-title > div.text-top div {
    animation: showTopText 1s;
    animation-delay: 0.5s;
    animation-fill-mode: forwards;
    bottom: 0;
    transform: translate(0, 100%);
  }


  .animated-title > div.text-top div span:first-child {
    color: #1a1a1a;
  }
  .animated-title > div.text-bottom {
    bottom: 0;
    width: 100%;
    
  }
  .animated-title > div.text-bottom div {
    animation: showBottomText 0.5s;
    animation-delay: 1.75s;
    animation-fill-mode: forwards;
    top: 0;
    transform: translate(0, -100%);

  }


.container2{
    width: 100%;
    height: 100%;
    display: inline-flex;
    align-items: center;
    justify-content: center;
}

.btn{
    font-family: WorkSansLight;
    font-size: 1.5vw;
    cursor: pointer;
    padding: 10px;
    border-radius: 10px;
    background: #ffffff;
    box-shadow:  20px 20px 60px #d9d9d9,
             -20px -20px 60px #ffffff;
    border: none;
}

.window{
    width: 100%;
    position: relative;
    top: 50%;
    text-align: center;
    padding: 0 1vw 1vw;
    backdrop-filter: blur(3px) saturate(200%);
    -webkit-backdrop-filter: blur(5px) saturate(200%);
    background-color: rgba(0, 0, 0, 0.6);
    border-radius: 15px;
    border: 1px solid rgba(255, 255, 255, 0.125);
    /*visibility: hidden;
    opacity: 0;
    */transition: opacity 100ms ease-in;
}

.window img{
    border-radius: 10px;
    width: 25vw;
    height: auto;
}

/*.container2#blur.active{
    filter: blur(1px);
}

.open-popup{
    visibility: visible;
    opacity: 1;
    top: 50%;
    transform: translate(-50%, -50%) scale(1);
}

*/
.window h3{
    color: white;
    font-family: 'WorkSansLight';
    font-size: 1vw;
}

.window p{
    color: white;
    font-family: WorkSansLight;
    font-size: 1vw;
}

.window button{
    background-color: rgba(0, 0, 0, 0.6);
    border-radius: 12px;
    border: 1px solid rgba(255, 255, 255, 0.125);
    color: white;
    font-family: WorkSansLight;
    font-size: 1vw;
    cursor: pointer;
}